body {
    min-height: 100vh;
 color: white;

}
html {
   
}

body {
overflow: scroll;
}

.navigation {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.main-column {
    height: 100%;
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/code-adjusted.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
    z-index: -1;
   
}

.circle-crop {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid skyblue;
  }
  
  .circle-crop img {
    width: auto;
    height: 100%;
    opacity: 0.7;
  }

  .title-padding {
      padding: 5px 10px 5px 10px;
  }

 .link:hover{
      opacity: 0.6;
  }

  #projects-title {
      margin-top: -70px;
  }

  .info {
      position: absolute;
      z-index: 1;
      color: black;
      background-color: white;
  
      border-radius: 10px;
      border: solid 5px skyblue;
      max-width: 300px;
  }

 .written-link {
     color: white;
 }
 .written-link:hover {
     color: lightgray;
 }